.vs/
.git/
ClinicService/AccountSample/bin/
ClinicService/AccountSample/obj/
ClinicService/JwtSample/obj/
ClinicService/JwtSample/bin/
ClinicService/ClinicService.Data/bin/
ClinicService/ClinicService.Data/obj/
ClinicService/ClinicService/obj/
ClinicService/ClinicService/bin/
ClinicService/ClinicClient/bin/
ClinicService/ClinicClient/obj/
ClinicService/ClinicServiceV2/obj/
ClinicService/ClinicServiceV2/bin/