.vs/
.git/
RootService/RootService/bin/
RootService/RootService/obj/
RootService/SampleService/obj/
RootService/SampleService/bin/
RootService/.vs/
RootService/Net.Http.Utils/bin/
RootService/Net.Http.Utils/obj/
RootService/SampleService/bin/
RootService/SampleService/obj/